In [464]:
import pandas as pd
import numpy as np
import random
import math
from scipy.stats import rankdata

In [465]:
plant_data = pd.read_csv('plants_data_csv.csv')

In [466]:
plant_data.head()

,NAME,GROWTH PERIOD,MEDICINAL,FRUIT/VEGETABLE,COST OF SEED AND FERTILIZERS,HUMAN EFFORT,CLIMATE SUITABLITY,SOIL SUITABILITY,MARKET VALUE OF PRODUCE,AREA
0,A1,15,1,0,7766,3,1,0,9002,4
1,A2,5,1,0,6031,70,1,1,9688,2
2,A3,9,1,0,8769,32,0,0,4824,1
3,A4,8,1,1,9947,51,0,0,2401,3
4,A5,16,1,1,5256,53,1,0,9057,5

In [467]:
population = pd.read_csv('population.csv')
population.head()

   1  2  3  4  5  6  7  8  9  10 ...  21  22  23  24  25  26  27  28  29  30
0  0  0  0  1  1  0  1  0  0   1 ...   2   1   0   1   1   0   0   0   0   0
1  0  0  0  0  1  0  0  0  1   1 ...   2   1   0   0   1   0   1   0   0   1
2  0  1  1  1  0  0  0  1  1   0 ...   1   1   0   1   1   1   1   1   1   0
3  1  1  1  0  0  1  1  0  0   1 ...   2   1   1   1   0   0   0   1   0   1
4  1  0  1  0  0  1  1  0  1   0 ...   2   0   0   1   1   0   0   1   1   1

[5 rows x 30 columns]

In [468]:

def mutation( chromosome):
    allel = random.randrange(0,30,1)
    chromosome[allel] = random.randrange(0,3,1)
    return chromosome

In [486]:
def crossover( parent1, parent2):
    exchange_pt = random.randrange(0,30,1)
    #print exchange_pt
    #print parent1
    b = parent1[exchange_pt:30].copy()
    c = parent2[exchange_pt :30].copy()
    #print b
    #print c
    parent1[exchange_pt:30] = c
    parent2[exchange_pt:30] = b
    return (parent1, parent2)

In [470]:
def fitness1_calculation(population):
    fitness = []
    for chrom in range(len(population.index)): 
        fitness_value = 0.0
        #print chrom
        for i in range(30):
            fitness_value += population.iloc[chrom][i]*(plant_data['MARKET VALUE OF PRODUCE'][i]- plant_data['COST OF SEED AND FERTILIZERS'][i])
            #print type(fitness_value)
        fitness.append(fitness_value)
    return fitness

In [471]:
print(fitness1_calculation(population))

[-13656.0, -14073.0, -16766.0, -14975.0, -32827.0, 5155.0, -14197.0, -10483.0, -1998.0, -11788.0, -12279.0, -10406.0, 3101.0, 15413.0, -28919.0, -15600.0, -27916.0, -781.0, -22856.0, -4273.0, -11703.0, -18040.0, -10174.0, 8371.0, -28895.0, -5322.0, 7727.0, 18359.0, -20038.0, 13467.0, -34098.0, -7663.0, -2642.0, -12226.0, -16371.0, -21452.0, -9217.0, -18416.0, -24915.0, 4617.0, -9596.0, 5584.0, -11261.0, 13790.0, -28705.0, -3749.0, 2351.0, -2631.0, -11400.0, -7778.0]

In [472]:

def fitness2_calculation(population):
    fitness = []
    for chrom in range(len(population.index)):
        fitness_value = 0.0
        for i in range(30):
            x = population.iloc[chrom][i]*(plant_data['GROWTH PERIOD'][i] + 12* plant_data['SOIL SUITABILITY'][i] 
                                      + 12*plant_data['CLIMATE SUITABLITY'][i] )
            fitness_value += math.exp(-x)
        fitness.append(fitness_value)
    return fitness

In [473]:
print(fitness2_calculation(population))

[16.0212544423665, 16.002479253456478, 9.021383431551751, 10.01844009671252, 13.02091917465393, 14.000000956038779, 12.020801924222427, 15.02080070045874, 15.0027269399341, 10.020795663871759, 19.020794432781525, 17.002480135792386, 13.0209180074855, 13.018440253928297, 15.002603055747715, 9.018899426624245, 14.020794942876728, 19.000336309387585, 20.00045933226886, 12.018775146206544, 12.000247938441357, 11.018440248394977, 12.021041727180414, 15.018445454077025, 10.021042564272344, 12.018440111657899, 10.018782187244982, 17.00012996351937, 9.021260740778908, 14.01844062180358, 19.018651938648695, 14.002938737839063, 14.018563868317719, 15.018563015942945, 14.018904943870732, 13.021253396910335, 14.018651379231885, 16.01843929488007, 10.000342731593866, 15.002480114723536, 13.018569098927534, 15.021253681973583, 11.020919240839145, 15.020918097875665, 13.021253800836059, 13.02091891414183, 18.01831587919542, 17.00281453794196, 18.01843938629838, 11.002603296119418]

In [474]:

def sum_of_weighted_ratios(fitness1, fitness2):
    min_f1 = min(fitness1)
    max_f1 = max(fitness1)
    min_f2 = min(fitness2)
    max_f2 = max(fitness2)
    fitness1 = (fitness1-min_f1)/(max_f1-min_f1)
    fitness2 = (fitness2-min_f2)/(max_f2-min_f2)
    fitness = fitness1+fitness2
    return fitness

In [475]:
fitness = sum_of_weighted_ratios(np.array(fitness1_calculation(population)), np.array(fitness2_calculation(population)))

In [476]:
rankdata(fitness)

array([ 32.,  31.,   4.,   7.,   6.,  37.,  15.,  30.,  35.,  10.,  43.,
        36.,  34.,  42.,  14.,   5.,  11.,  49.,  38.,  22.,  17.,   9.,
        18.,  45.,   1.,  20.,  23.,  50.,   3.,  46.,  24.,  28.,  33.,
        29.,  19.,  12.,  25.,  26.,   2.,  40.,  21.,  41.,  13.,  47.,
         8.,  27.,  48.,  44.,  39.,  16.])

In [477]:
def objective(population):
    fitness = sum_of_weighted_ratios(np.array(fitness1_calculation(population)), np.array(fitness2_calculation(population)))
    return fitness , rankdata(fitness)

In [478]:
population['Cost'] , population['Objective'] = objective(population)
population.head()

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,Cost,Objective
0,0,0,0,1,1,0,1,0,0,1,...,0,1,1,0,0,0,0,0,1.027337,32.0
1,0,0,0,0,1,0,0,0,1,1,...,0,0,1,0,1,0,0,1,1.017678,31.0
2,0,1,1,1,0,0,0,1,1,0,...,0,1,1,1,1,1,1,0,0.330630,4.0
3,1,1,1,0,0,1,1,0,0,1,...,1,1,0,0,0,1,0,1,0.455566,7.0
4,1,0,1,0,0,1,1,0,1,0,...,0,1,1,0,0,1,1,1,0.388660,6.0

In [479]:
def survivor_selection(population, max_area):
    isDrop = []
    for chrom in range(len(population.index)):
        area = 0.0
        for i in range(30):
            area += population.iloc[chrom][i]*plant_data['AREA'][i]
        if area > max_area:
            isDrop.append(True)
        else:
            isDrop.append(False)
    population = population.drop(population[isDrop].index)
    return population

In [278]:
population = survivor_selection(population, 90)

In [480]:
print len(population)

50

In [481]:
def tournament( rank , participants):
    return min(rank[participants])

In [482]:
def sampling( size, k):
    x = random.sample(range(0, size), k)
    part = np.full((size), False)
    for i in x:
        part[i] = True
    return part

In [483]:
part = sampling(50,3)
print tournament(population.iloc[:,31].values, part.astype(bool))

29.0

In [490]:
pop_size = 50
for i in range(100):
    if pop_size < 20:
        break
    part = sampling(pop_size,10)
    parent1 = int(tournament(population.iloc[:,31].values, part.astype(bool)))-1
    part = sampling(pop_size,10)
    parent2 = int(tournament(population.iloc[:,31].values, part.astype(bool)))-1
    #print parent1, parent2
    if parent1 != parent2:
        population.iloc[parent1, 0:30], population.iloc[parent2,0:30] = crossover(population.iloc[parent1, 0:30].copy(), population.iloc[parent2,0:30].copy())
    population.iloc[parent1, 0:30] = mutation(population.iloc[parent1,0:30])
    population.iloc[parent2, 0:30] = mutation(population.iloc[parent2, 0:30])
    population['Cost'] , population['Objective'] = objective(population)
    population = survivor_selection(population, 85)
    pop_size = len(population)
    print pop_size
    population['Cost'] , population['Objective'] = objective(population)
    #print population.iloc[parent2,:]

49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
48

C:\Users\Dell\Anaconda2\envs\gl-env\lib\site-packages\numpy\core\numeric.py:294: FutureWarning: in the future, full(48, False) will return an array of dtype('bool')
  format(shape, fill_value, array(fill_value).dtype), FutureWarning)

48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
47

C:\Users\Dell\Anaconda2\envs\gl-env\lib\site-packages\numpy\core\numeric.py:294: FutureWarning: in the future, full(47, False) will return an array of dtype('bool')
  format(shape, fill_value, array(fill_value).dtype), FutureWarning)

47
47
47
47
47
47
47
47
47
46

C:\Users\Dell\Anaconda2\envs\gl-env\lib\site-packages\numpy\core\numeric.py:294: FutureWarning: in the future, full(46, False) will return an array of dtype('bool')
  format(shape, fill_value, array(fill_value).dtype), FutureWarning)

46
46
46
46
46
46
46
46
46
46